body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testing{
  width: 600px;
  height: 500px;
  border: none;
  border-radius: 20px;
  padding: 25px;
  background-color: #fff;
}

.img-fluid {
  margin-bottom: 10px;
}
